<mat-toolbar color="primary">
                <span>Search Movies</span>
</mat-toolbar>
<mat-card>
        <mat-card-content>
                <form class="example-form" (ngSubmit)="onSearch()">
                        <mat-form-field>
                        <input matInput placeholder="Search Movie" required [(ngModel)]="searchText" name="searchText">
                        </mat-form-field>
                
                        <mat-slide-toggle [(ngModel)]="enableML" name="enableML">Enable ML Model</mat-slide-toggle>
                        <br>
                        <button mat-button color="primary">Search</button>
                </form>
        </mat-card-content>
</mat-card>
<mat-card *ngIf="movies?.length>0">
        <p>About {{ totalResults }} results ({{ processingTime }}) </p>
</mat-card>
        <div class="row" *ngIf="movies?.length>0">
                <div class="column">
                                <mat-list>
                                        <mat-list-item *ngFor="let movie of movies">
                                                <img matListAvatar [src]="movie.poster_path" alt="{{movie.title}}">
                                                <h3 matLine> {{movie.title}} </h3>
                                                <p matLine>
                                                <span> {{movie.release_date}} </span>
                                                <span class="demo-2"> -- Rated {{movie.vote_average}} </span>
                                                <span><button mat-button (click)="onShowMore(movie)">show more</button></span>
                                                </p>
                                        </mat-list-item>
                                </mat-list>
                </div>
                <div class="column">
                        <h4 *ngIf="!showMore">No movie selected</h4>
                        <div *ngIf="showMore">
                                <h4>{{ movie.title }}
                                        <img [src]="movie.poster_path" alt="{{movie.title}}" style="width:170px;height:170px;margin-left:15px;">
                                </h4>
                                <small>
                                        <cite>Released on - {{ movie.release_date}}, Rating {{ movie.vote_average }}</cite><br>
                                        <cite>Duration - {{ movie.runtime}} minutes, Popularity {{ movie.popularity }}</cite>
                                </small>
                                <br>
                                <span>Visit here: <a [href]="movie.imdb_id" target="_blank">{{ movie.imdb_id }}</a></span>
                                <br><br>
                                <p>{{ movie.overview }}</p>
                        </div>
                </div>
        </div>

        