<mat-toolbar color="primary">
        <span>Search Movies</span>
</mat-toolbar>
<mat-card>
    <mat-card-content>
            <form class="example-form" (ngSubmit)="onSearch()">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Search Movie" required [(ngModel)]="searchText" name="searchText">
                    </mat-form-field>
                
                    <mat-slide-toggle [(ngModel)]="enableML" name="enableML">Enable ML Model</mat-slide-toggle>
                    <br>
                    <button mat-button color="primary">Search</button>
                </form>
    </mat-card-content>
</mat-card>
<mat-card>
        <mat-accordion *ngIf="employees?.length>0">
                <mat-expansion-panel *ngFor="let emp of employees">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                            {{emp.title}}
                    </mat-panel-title>
                    <mat-panel-description>
                            {{emp.release_date}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>{{emp.overview}}</p>
                </mat-expansion-panel>
        </mat-accordion>
</mat-card>